.InformalText {
  width: 100%;
}

.greysquare {
  max-width: 80%;
  width: auto;
  max-height: 80%;
  height: auto;
  background-color: #CCCCCC;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  font-size: 35px;
}