.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    width: auto;
    max-height: 80%;
    height: auto;
    background-color: #CCCCCC;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    /* Center align the contents */
}

.login-header {
    margin-bottom: 20px;
    /* Add spacing below the header */
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
}

.input-field {
    padding-left: 100px;
    /* Adjust spacing between label and input */
    width: calc(100% - 100px);
    /* Subtract label width from input width */
}

.login-button {
    background-color: #646464;
    /* Button color */
    color: white;
    /* Text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #414141;
    /* Darker button color on hover */
}