.navbar {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    height: 120px;
}

.navlogo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navlogo img {
    margin-top: 30px;
    width: 150px;
}

.navlogo p {
    color: #2192FF;
    font-size: 38px;
    font-weight: 600;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    color: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    color: #F5EDED;
}

.nav-menu li::after {
    content: "";
    position: absolute;
    background-color: #2192FF;
    height: 3px;
    width: 0%;
    left: 5;
    margin-top: 50px;
    transition: 0.3s;
}


.nav-menu li:hover::after {
    width: 80%;
}

.nav-menu li.active::after {
    width: 0%;
    transition: 0s;
    color: #2192FF;
}

.nav-login {
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login button {
    width: 100px;
    height: 40px;
    outline: none;
    border-radius: 10px;
    color: #F5EDED;
    border: none;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background 0.6s, color 0.6s;
    font-family: "Oswald", sans-serif;
}

.nav-login button:hover {
    color: #EEEEEE;
    background: #B4A5A5;
    transition: background 0.3s, color 0.3s;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: #2192FF;
}