.Containerloginsignup {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10dvh;
}

.wrapper {
    position: relative;
    width: 22dvw;
    height: 50dvh;
    transition: width 2s ease, height 2s ease;
    background: #181C22;
    border: 1px solid #B4A5A5;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.wrapper.wrapper.active {
    width: 23dvw;
    height: 65dvh;
    transition: width 2s ease, height 2s ease;
}

.wrapper .form-box {
    width: 15dvw;
    padding: 10%;
}

.wrapper .form-box.login {
    transition: transform 1s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: transform 1s ease;
    transform: translateX(400px);
    zoom: 0.9;
}

.wrapper.active .form-box.register {
    transform: translateX(0);
}

form h1 {
    font-size: 2dvw;
    text-align: center;
}

.input-box {
    position: relative;
    width: 10dvw;
    margin-bottom: 2dvh;
}

.input-box input {
    width: 120%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid #B4A5A5;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    padding: 20px 20px 20px 40px;

}

.input-box input::placeholder {
    color: white;
}

.input-box .icon {
    position: absolute;
    left: 15px;
    top: 3.3dvh;
    transform: translateY(-50%);
    font-size: 16px;
    color: white;
}

.eyeicon {
    left: 0.7dvw;
    top: 3.5dvh;
    right: 0;
    position: absolute;
    top: 3.3dvh;
    font-size: 20px;
    color: white;
    transform: translateY(-50%);
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    margin: 1dvw 0 1dvh;
}

.remember-forgot label input {
    accent-color: rgb(0, 0, 0);
    margin-right: 0.3dvw;
}


form .register-link {
    font-size: 14px;
    text-align: center;
    margin: 2dvh 0 2dvh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error input {
    border-color: #800000;
}

.error span {
    margin-top: 1dvh;
    color: #800000;
}

.uerror {
    color: #800000;
}