.SearchHomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 220px;
    background-color: #070F2B;
    border-radius: 3px;
    margin-left: 100px;
    z-index: 10;
    position: relative;
}

.SearchContainer {
    display: flex;
    width: 80%;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
}

.SearchContainer button {
    width: 170px;
    height: 40px;
    outline: none;
    border-radius: 10px;
    color: #070F2B;
    border: none;
    font-size: 25px;
    background: #8789FE;
    cursor: pointer;
    transition: background 0.6s, color 0.6s;
    font-family: "Oswald", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.SearchContainer button img {
    width: 60px;
    height: 40px;
}

.SearchContainer button p {
    color: #FAF9F6;
    font-size: 22px;
}


.inputbox {
    position: relative;
    display: flex;
    width: 350px;
    gap: 10px;
}

.inputbox input {
    background-color: transparent;
    width: 70%;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    color: white;
}

.inputbox span {
    position: absolute;
    left: 0;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    padding: 10px;
    transition: 0.4s;
    margin-left: 55px;
}

.inputbox input:focus+span,
.inputbox input:valid+span {
    color: aqua;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.75em;
    padding: 0 10px;
    background: transparent;
    border-left: 1px solid aqua;
    letter-spacing: 0.2em;
    background: #070F2B;
}


.SearchHomePage h2 {
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
}