.DashContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    margin-bottom: 40dvh;
    margin-top: 10dvh;
}

.DashContainer h1 {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    color: #2192FF;
}

.Dashboardleft h2 {
    letter-spacing: 0.1rem;
    color: #2192FF;
}

.Dashboardleft span {
    color: whitesmoke;
}

.imageupload {
    background-color: #1971c4;
    color: #C2C8C8;
    border-radius: 5px;
    transition: 0.3s;
}

.imageupload::file-selector-button {
    padding: 0.3dvw;
    color: #111418;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 800;
    letter-spacing: 0.5px;
    transition: 0.3s;
}

.imageupload::file-selector-button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.buttons {
    display: flex;
    flex-direction: row;
    column-gap: 2dvw;
}

.username {
    display: flex;
    flex-direction: row;
    column-gap: 0.3dvw;
    justify-content: center;
    align-items: center;
}

.useremail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0.3dvw;
}

.username input {
    height: 1dvh;
    background-color: transparent;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    color: white;
}

.useremail input {
    height: 1dvh;
    background-color: transparent;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    color: white;
}

.loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.Dashboard {
    width: 70%;
    height: 40dvh;
    background-color: #171a20;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-content: center;
    grid-column-gap: 12dvw;
    border-radius: 10px;
    padding: 50px;
    transform: translateY(-15%);
}

.Dashboardleft {
    transform: translateY(-20dvh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    row-gap: 0.5dvh;
}

.background {
    width: 75%;
    height: 70dvh;
    border-radius: 10px;
}

.userimage {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userimage img {
    min-width: 200px;
    min-height: 220px;
    object-fit: fill;
    clip-path: circle();
    transition: 0.3s;
}

.Dashboardleft img:hover {
    transform: scale(1.1);
    transition: 0.3s;
    filter: blur(1px);
    cursor: pointer;
}