.Hero {
    flex: 1;
    margin-top: 50px;
    margin-left: 160px;
    margin-bottom: 10%;
    min-width: 90%;
    min-height: 700px;
    background: linear-gradient(330deg, #B4A5A5, #222831 65%, #222831 70%);
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: -1;
}

.Hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    line-height: 1.1;
    overflow: hidden;
}

.Hero-left button {
    width: 60%;
    height: 40px;
    border: none;
    margin-top: 20px;
    margin-left: 80px;
    border-radius: 10px;
}

.Hero-left h2 {
    color: aliceblue;
    font-size: 35px;
    font-weight: 600;
}

.Hero-left p {
    margin-left: 15px;
    color: aliceblue;
    font-size: 20px;
}

.Hero-right {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 250%;
}

.Hero-right img {
    max-width: 300%;
    max-height: 100%;
    width: 200%;
}

.Container {
    position: relative;
}

.Search {
    position: absolute;
    bottom: -25%;
}